NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5000004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-50001.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5000004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-50002.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5200004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4500004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4550004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4600004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5050004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4650004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4650004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4700004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4700004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-50001.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5050004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5100004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5150004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-1.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4500004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4600004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5200004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5200004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4650004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-50002.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5100004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5150004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5150004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-1.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4500004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4600004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4550004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4700004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5050004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5000004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-50001.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-50002.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-5100004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/checkpoint filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-1.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_nce/w2v_nce.cpkt-4550004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1000004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1100004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-250002.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/checkpoint filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1400005.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-700003.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1150004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1500005.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1550005.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-250002.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4600004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4650004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4550004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4600004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1100004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4700004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5100004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5150004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4500004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1550005.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-350002.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4500004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5000004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1350005.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-200002.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-350002.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-400002.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1500005.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-200001.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1000004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-150001.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-300002.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5100004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4700004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5200004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-750003.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1200004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1450005.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-200002.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-50001.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-100001.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-150001.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-800003.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1150004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1100004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1200004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-150001.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4550004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-50001.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-600003.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-300002.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-300002.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-400002.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4700004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5050004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-650003.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1550005.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4500004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4650004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-750003.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-400002.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-800003.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1450005.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5000004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1400005.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5050004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4550004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1400005.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-200002.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1150004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-200001.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-250002.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4600004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5000004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5150004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-600003.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-650003.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-100001.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-200001.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5200004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-600003.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1500005.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-50001.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-650003.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-800003.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1050004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-350002.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5200004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1000004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1450005.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1350005.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-4650004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-750003.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1050004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1050004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1200004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5050004.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5100004.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-5150004.index filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-700003.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-1350005.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-700003.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/checkpoints_cross_entropy/w2v_cross_entropy.cpkt-100001.meta filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/pretrained/w2v_pretrained.cpkt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/models/word2vec_cross_entropy.model filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW1/models/word2vec_nce.model filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW3/data/train.jsonl filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW3/data/glove.6B.50d.txt filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW2/data/glove.6B.50d.txt filter=lfs diff=lfs merge=lfs -text
NLP[[:space:]]-[[:space:]]HW3/serialization_dirs.zip filter=lfs diff=lfs merge=lfs -text
